
$primary-color: #0578FF;
$secondary-color: #959A9A;
$text-color-light: #ffffff;
$text-color-shade-light : #EFEFEF;
$text-color-dark: #000000;
$important-color: #FF0000;
$primary-font: 'Montserrat', sans-serif;
$successful-color: #31A91D;

$font-weights: (
  "light": 300,
  "regular": 400,
  "medium-s": 500,
  "medium-l": 600,
  "bold": 700,
  "extra-bold": 800,
  "blacked": 900
);