@import "./variables";


//function to get the font weight

@function weight($weight-name){
    @return map-get($font-weights, $weight-name);
}

//setting the font tothe body
body{
    font-family: $primary-font;
}

//Glassmorphism common features
@mixin glass-container {
    background-color: rgba(168, 169, 169, 0.303);
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    backdrop-filter: blur(3.5px);
    box-shadow: 0 4px 6px rgb(0, 0, 0);
}

//Buttton common features
@mixin Button{
        padding: 10px 20px;
        border-radius: 5px;
        display:flex;
        justify-content: center;
        font-size: 1.4rem;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.138);
        font-weight: weight(medium-s);
}
// blue-backdrop common features
@mixin blue-backdrop{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 1rem;
        margin-top: 6.5%;
        color:black;
        background-color: #057aff61;
        border-radius: 10px;
        box-shadow: 0px 8px 8px 2px rgba(0, 0, 0, 0.286);
}
