@import '../Common/main.scss';
.payment {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    height: 100vh;
    overflow: hidden;

    .payment-container{
        @include blue-backdrop;
    }
}
.content-inside-upper{
    margin: 2% 0 0 3%;
}
.content-inside-bottom{
    margin: 2% 0 0 3%;
}
.centered-container {
    display: flex;
    align-items: center;
    margin: 1% 0 0 0;
  }
  
.card-icon {
    margin-right: 10px; 
  }
.divider {
    width: 100%;
    height: 1.5px; 
    background-color: $secondary-color;
}
.input-headings{
    font-weight: weight(medium-l);
    margin-bottom: 10px;
}
.new-card{
    background-color: #057aff43;
    padding: 5px;
    border-radius: 14px;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.086);
}
.form-check-payment-methods{
    font-size: 2rem;
}
.new-card-content{
    margin: auto auto auto 3%;
    padding:1%;
}
.form-check-input-radio{
    margin: 3px;
    width: 17px;
    height: 17px;
}

.card-inputs{
    border: 1.6px solid $primary-color;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 5px;
    width: 94.6%;
    height: 33px;
    margin:5px 0 10px 0;
}
.card-inputs-cvv{
    @extend .card-inputs;
  
}
.card-inputs-date{
    @extend .card-inputs;
    width: 45%;
}
.slash{
    margin: 0 10px 0 10px;
    font-size: 1.9rem;
    color: $primary-color;
}
.form-check-input{
    border: 1.6px solid $primary-color;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 100%;
}
.divider-outside{
    width: 100%;
    height: 2.5px; 
    background-color: $primary-color;
    margin-top: 19px;
    margin-bottom: 10px;
}
.form-check{
    margin-bottom:2%;
    margin-top: 1%;
}
.terms-check{
    display: flex;
    align-items: left;

}
.terms-check-label{
    font-size: 1.1rem;
    font-weight: weight(medium-l);
}
.checkout-btn{
    margin-left: 50%;
    margin-bottom: 3%;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.total , .total-value{
    font-size: 1.2rem;
    font-weight: weight(bold);
    margin-left: 30%;
}
.total{
    margin-left: 76%;
}

@media (max-width:720px){
    .payment-container{
        width: 85%;
        height: 70%;
       
        
        transform: translateY(5%);
        .centered-container{
            margin: 0;
            font-size: 75%;
        }
        .form-check-inline{
            margin-left: 4%;
        }
        .form-check-payment-methods{
            font-size: 2rem;
           
        }

        .divider{
            transform: translateY(-70px);
        }
        .content-inside-upper{
            margin-top:12%;
            margin-bottom: 10%;
        }
        .content-inside-bottom{
           
            transform: translateY(-70px);
        }
        .new-card{
            transform: translateY(-30%);
        }
        .new-card-content{
            //margin: auto auto auto 3%;
            padding:1%;
            font-size: 75%;
        }
        .card-number{
            transform: translateY(-30%);

        }
        .card-holder{
            
            transform: translateX(-100%);
            margin-top: 10%;
            

        }
        .card-label{
            font-size: 70%;
            transform: translateY(40%);
            width: 100%;
        }
        .card-inputs-date{
            width: 20%;
            transform: translateX(-5%);
        }
        .card-inputs-cvv{
             width: 45%;
             margin-left: 4%;
             
         }
        .form-group{
            width: 200%;
        }
    }
    .form-check{
        margin-left: 1%;
       
    }
    .form-check-label{
        font-size: 90%;
        
    }
    .terms-check{
        margin-top: 15%;
        transform: translateY(-100%);
    }
    .terms-check-label{
        font-size: 90%;
       
        margin-bottom: 10%;
    }
    .bottom-row{
        display: flex;
        flex-direction: row;
    }
    .bottom-price{
       
      
        display: flex;
        flex-direction: column;
        transform: translateY(20%);
       // font-size: 1rem;
        justify-content: center;
        align-items: center;
    }
    
    .total-price{
        margin-bottom: 5%;
        width: 40%;
        margin-left: 5%;
        height: 10%;
        margin-top:-5%
    }

    .total{
        margin-left: 5%;
        font-size: 1rem;
        display: inline-block;
    }
    .total-price-val{
        margin-top: -5%;
        margin-bottom: 5%;
        width: 40%;
        height: 10%;
        margin-left: 10%;
    }
    .total-value{
        
        margin-left: 5%;
        font-size: 1rem;
        width: 100%;
        
    }
    .checkout-btn{
        margin-left: 70%!important;
        font-size:1rem;
        //margin-bottom: 10%;
        width:200%;
          
       transform: translateY(-50%);
    }

}