@import '../Common/main.scss';

.register {
  
    display: flex;
    justify-content: space-between; 
    align-items: center;
    height: 100vh;
    overflow: hidden;

      .register-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('../../assets/Register.png');
        background-size: cover;
        z-index: 0;
      }
  
      h2 {
        font-size: 2.4rem;
        color: $text-color-light;
        font-weight: weight(bold);
        margin-bottom: 1.5%;
      }

      p{
        color: $text-color-shade-light;
      }
      .glass-container-extend{
        @include glass-container;
          margin: 9.2% 12% 5% auto;
          backdrop-filter: blur(10px);
          background-color: rgba(168, 169, 169, 0.303);
          max-width: 440px; 
          width: 90%;
          height: auto;
          padding: 30px; 
          display: flex;
          flex-direction: column;
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.43);
      }
      .name-row{
        display:flex;
        flex-direction: space-between;
        width: 100%;
        
        .name-pass{
          display: flex;
          flex-direction: space-between;
          width: 50%;
          margin-right : 3%;

        }
      }
      .name-pass {
        display: flex;
        flex-direction: column;
        margin-bottom: 3%;
        color: $text-color-light;
        font-size: 0.9rem;
          p {
            margin: 0; 
            padding: 0; 
            font-size: 0.95rem; 
          }
      } 
      
      input[type='text'],
      input[type='password'],
      input[type='email'] {
        padding: 10px;
        border-radius: 5px;
        color: $text-color-light;
        background: none; 
        border: 2px solid rgba(255, 255, 255, 0.715);
      }
      .register-terms{
        display:flex;
        flex-direction: row;
        align-items: center;
        margin-top: 10px;
      }
      
      .signup-link {
        font-size: 0.85rem;
        text-align: left;
        padding-right: 3%;
        margin-top:2px;
        
        .register-link{
          font-weight:weight(bold);
          display: inline;
        }
      }
      .button-extend {
        @include Button;
        padding: 7px ;
        margin-left: 4px;
        width: 65%;
       }
      
      .large-text-container {
        position: absolute;
        width: 50%; 
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:flex-start;
        font-size: 3rem; 
        text-align:left;
        padding-left: 13%;
        padding-top: 5%;
          .large-text{
            padding:0;
            margin:0;
          }
          .box{
            background-color: $text-color-light;
            height: 6px; 
          }
          .upper-box {
            width: 180px; 
            margin: 2px;
      
          }
          .lower-box {
            width: 150px; 
            margin: 0 10% 0 30%;
          }
          p {
            font-weight: weight(medium);
            letter-spacing: 2px;
            .highlight {
              font-weight: weight(bold);
              color: secondary-color;
            }
          }
    }
  }
@media ( max-width:1110px){
  .large-text-container{
    .large-text{
      font-size: 2.0rem;
    }
    
  }
 
}  
@media ( max-width: 922px){
  .register{
    
    flex-direction: column;
    height: auto;
    

    .large-text-container{

      display: none;
    }
    h2{
      font-size: 2rem;
      
    }
    .glass-container-extend{
      
      width: 100%;
      height: 90%;
      padding: 0;
      box-shadow: none;
      backdrop-filter: none;
      background-color: transparent;
      justify-content: center;
      align-items: center;
      .name-row{
        flex-direction: column;
        width: 100%;
        
        .name-pass{
          width: 100%;
          align-items: center;
          margin-top: 4px;
        }
      }
      .name-pass{
        width: 100%;
        margin-top: 3px;
        align-items: center;

      }
      .button-extend{
        max-width: 100%;
        max-height: 50px;
        justify-content: center;
        align-items: center;
        transform: translateX(25%);
      }
      .inputs{
        max-width: 80%;
      }
    }
    .register-terms{
      align-items: center;
      display: block;
    
      
      
      .register-link{
        justify-content: center;
        transform: translateX(100%);
        margin-top: 40px;
        align-items: center;

        .login-link{
          transform: translateX(100%);
        }
      }
    }
  }
 
}
  