@import "../Common/main.scss";
.booking {
  display: flex;
  flex-direction: column;
  //align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: scroll;
}
.booking-background {
  display: flex;
  flex-direction: column;
  margin-top: 6%;
  height: 100%;
}
.search-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: -1%;
  margin-top: 4%;
}
.glass-container-extend {
  @include glass-container;
  padding: 2%;
    border: 2px solid rgba(0, 0, 0, 0.5);
  display: flex;
  background-color: rgba(193, 191, 191, 0.188);
  box-shadow: 0 5px 7px 0 rgba(2, 3, 26, 0.155);
}
.dropdown-class {
  display: flex;
  flex-direction: column;
}

.dropdown-label {
  margin-bottom: 7px;
  color: rgb(16, 16, 16);
}

.search-form {
  display: flex;
  align-items: center;
  margin: -1% auto 0 auto;
  select,
  input[type="text"],
  input[type="date"] {
    padding: 2%;
    margin-right: 4%;
    border-radius: 8px;
    background: none;
    border: 2px solid rgba(51, 50, 50, 0.89);
  }

  .search-btn {
    margin-left: 2rem;
    margin-top: auto;
  }

  input::placeholder {
    color: #000000; /* Red color for the placeholder text */
  }
  .button-extend {
    @include Button;
    align-items: center;
    border-radius: 20px;
    opacity: 0.9;
    &:hover {
      opacity: 1.1;
    }
  }
}
.map-container {
  padding: 0% 4% 0 5%;
  margin-top: -1%;
  margin-bottom: -1%;
}

.train-container {
  border: 2px black solid;
  margin: auto;
  margin-top: 4%;
  padding: 1.8%;
  height: auto;
  width: 70%;
  box-shadow: 2px 3px 2px 0 rgba(2, 3, 26, 0.237);
}

.train-details {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.train-name {
  font-weight: weight(medium-s);
  font-size: 22px;
  margin-top: -5%;
  text-align: right;
}
.grey-para {
  color: grey;
  font-size: 13px;
  font-size: weight(bold);
}
.train-right-label {
  color: grey;
  font-weight: weight(medium-s);
}
.margin-s {
  margin-top: 2%;
}
.btn-book {
  width: 130px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  margin-top: 2%;
  margin-left: 15%;
  box-shadow: 0 2px 2px 0 rgba(2, 3, 26, 0.316);
}
.vertical-bar-container {
  display: flex;
  align-items: center;
  padding: 3px;
}
.vertical-bar {
  width: 8px;
  height: 90%;
  background-color: black;
}

.right-side-train {
  div {
    font-size: 15px;
    overflow: hidden;
  }
}

.end-station {
  font-weight: weight(medium-s);
  white-space: normal;
  text-align: right;
}
.source-station,
.dest-station,
.start-station {
  display: flex;
  justify-content: center;
  font-weight: weight(medium-s);
  white-space: normal;
  text-align: center;
}
.start-station{
  text-align: left;
}

.map-container-lines {
  position: relative;
  padding: 10px 0.7%;
}

.dotted-line {
  border: 2px blue dashed;
}

.circle-position {
  position: absolute;
  background-image: url("../../assets/finalstate.png");
  background-size: cover;
  height: 20px;
  width: 20px;
  top: 0;
}

.c-p-source {
  left: 41%;
}

.c-p-dest {
  right: 24%;
}

.c-p-end {
  right: 5px;
}

.crowd-boxes {
  height: 12px;
  margin: 5px 2px;
}
.intensity-container {
  display: flex;
  justify-content: center;
  margin-top: 2%;
  .crowd-intensity {
    height: 10px;
    background-image: linear-gradient(to right, #e8f934, #ff0000);
    width: 80%;
  }
}
.low-crowd {
  display: flex;
  justify-content: center;
  background-color: rgba(48, 97, 246, 0.647);
  width: 110px;
  height: 25px;
  margin-top: 25px;
  transform: translateX(-50%);
  border-radius: 10%;
}
.low-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: -10px;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid rgba(48, 97, 246, 0.647);
}
.high-crowd {
  display: flex;
  justify-content: center;
  background-color: rgba(48, 97, 246, 0.647);
  width: 110px;
  height: 25px;
  margin-top: -25px;
  transform: translateX(-50%);
  border-radius: 10%;
  margin-left: 100%;
}
.high-arrow {
  @extend .low-arrow;
  top: -9.5px;
}
.no-crowd-data{
  color: red;
  margin-bottom: 0%;
}
.no-train-text{
  font-size: 25px;
  font-weight: weight(medium-s);
  text-align: center;
  margin-top: 4%;
  color:#ff0000;
}

@media (max-width: 922px) {
  .booking-background {
    overflow-y: scroll;
  }
  .search-form {
    .glass-container-extend {
      flex-direction: column;
      padding: 10%;
      width: 250px;
    }
    input[type="text"],
    select {
      width: 100%;
    }
    input[type="date"] {
      width: 100%;
    }
    .button-extend {
      width: 100%;
      padding: 5px 2.3rem;
    }
    .search-btn {
      margin-left: 0;
      margin-top: 10%;
    }
  }
  .map-container {
    margin-top: 10%;
    width: 100%;
  }
}

@media (max-width: 770px) and (min-width: 721px) {
  .booking-background {
    overflow-y: scroll;
  }
  .glass-wrapper {
    margin-top: 40%;
  }
}

@media (max-width: 721px) {
  .booking-background {
    overflow-y: scroll;
  }
  .train-details {
    align-items: center;
  }
  .train-name {
    margin-top: 1%;
    text-align: center;
  }

  .right-side-train {
    div {
      font-size: 70%;
    }
  }
  .horizontal-bar-container {
    padding: 0 8% 6px 10%;
  }
  .horizontal-bar {
    background-color: black;
    height: 6px;
  }

  .crowd-boxes-container {
    margin-left: 4%;
    .crowd-boxes {
      height: 8px;
      margin: 2px 1px 10px;
    }
  }
  .search-form {
    margin-bottom: 5%;
  }
  .start-station,
  .source-station,
  .dest-station,
  .end-station {
    //make the text in two lines if the text is too long
    // white-space: normal;

  }
  .btn-book {
    margin-left: auto;
    margin-right: auto;
  }
  .train-container{
    width: 90%;
  }
}
