@import '../Common/main.scss';

.login {
  
    display: flex;
    justify-content: space-between; 
    align-items: center;
    height: 100vh;
    overflow: hidden;

      .login-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('../../assets/Login.png');
        background-size: cover;
        z-index: 0;
      }
  
      h2 {
        font-size: 2.6rem;
        color: $text-color-light;
        font-weight: weight(bold);
        margin-bottom: 10%;
      }

      p{
        color: $text-color-shade-light;
      }
      .glass-container-extend{
          @include glass-container;
          margin: 10% 12% 15% auto; 
          max-width: 420px; 
          width: 90%;
          height: auto;
          padding: 50px; 
          display: flex;
          flex-direction: column;
          justify-content: center;
      }

      .name-pass {
        display: flex;
        flex-direction: column;
          p {
            margin: 0; 
            padding: 0; 
            font-size: 0.95rem; 
          }
      } 
      
      input[type='email'],
      input[type='password'] {
        padding: 10px;
        border-radius: 5px;
        color: $text-color-light;
        background: none; 
        border: 2px solid rgba(255, 255, 255, 0.715);
      }
  
      .forgot-password-link {
        font-size: 0.8rem;
        color:$text-color-shade-light;
        margin-top: 5px;
        text-align: right;
      }

      .button-extend {
        @include Button;
        width: 100%;
        margin-top: 7%;
        }
      
      .signup-link {
        font-size: 0.85rem;
        .sign-up{
          font-weight:weight(bold);
          display: inline;
          margin-left:7px;
        }
      }
      
      .large-text-container {
        position: absolute;
        width: 50%; 
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:flex-start;
        font-size: 3rem; 
        text-align:left;
        padding-left: 13%;
        padding-top: 5%;
          .large-text{
            padding:0;
            margin:0;
          }
          .box{
            background-color: $text-color-light;
            height: 6px; 
          }
          .upper-box {
            width: 180px; 
            margin: 2px;
      
          }
          .lower-box {
            width: 150px; 
            margin: 0 10% 0 30%;
          }
          p {
            font-weight: weight(medium);
            letter-spacing: 2px;
            .highlight {
              font-weight: weight(bold);
              color: secondary-color;
            }
          }
      
    }
  }

@media (max-width:920px){
  
  .login-background{
    justify-content: center;
    align-items: center;
    .large-text-container{
      display: none;
    }
    .glass-container-extend{
      
        width: 80%;
        height: 70%;
        padding: 0;
        justify-content: center;
        align-items: center;
        margin-left: 9%;
        margin-right: 9%;
        margin-top: 30%;
        .name-row{
          flex-direction: column;
          width: 100%;
          
          
          .name-pass{
            width: 100%;
            align-items: center;
            margin-top: 4px;
          }
        }
        .name-pass{
          width: 100%;
          margin-top: 3px;
          align-items: center;
  
        }
        .button-extend{
          max-width: 80%;
          max-height: 50px;
          justify-content: center;
          align-items: center;
          
        }
        .inputs{
          max-width: 80%;
        }
      }
    }
  }

  