@import '../Common/main.scss';

.profile {

    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    height: 100vh;
    overflow: hidden;

      .profile-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('../../assets/PersonalProfile .png');
        background-size: cover;
        z-index: 0;
      }

      p{
        color: $text-color-shade-light;
      }

      .text-container {
        margin: 8% auto 0 7%;
        color: $text-color-light;
        }

        .left-title{
            font-size: 2 rem;
            font-weight: weight("medium-l");
         }
      

      .glass-container-extend{
          @include glass-container;
          box-shadow: 5px 4px 6px 0 rgba(0, 0, 0, 0.897);
          padding: 50px; 
          flex-direction: column;
      }
      .glass-container-button{
        @include glass-container;
        padding:0;
        gap:0;
        border: none;
        margin-top:40%;
    }
 
      .button-extend {
        @include Button;
        border-radius: 15px 0 0 15px;
        height: 85px;
        align-items: center;

        
        }

        .col-change{
            display: flex;
            flex-direction: column;
            padding:0;  
        }
        
        .divider {
          width: 100%;
          height: 1px; 
          background-color: $text-color-shade-light;
          margin:2px 0 2px 0;
        }
        .edit-link{
            text-align: right;
            color: #5FA1EE;
            text-decoration: underline;
            &:hover{
              color: #ffffff;
              text-decoration: none;
              cursor: pointer;
            }
          }
        .edit-link-extend{
          @extend .edit-link;    
          border: 2px solid #5FA1EE;
          margin-top: 5px;
          border-radius: 2px;
          text-decoration: none;
          padding: 4px;

          &:hover{
            background-color: #5FA1EE;
            color: white;
            cursor: pointer;
          }
         }
         .edit-link-icon{
          @extend .edit-link-extend;
          padding: 4px;
        }
        
        .main-title, .edit-link {
            display: inline;
          }
        .left-title{
            display: flex;
            margin: 3px 0 0 0;
            padding: 4px 0 4px 0;
         }
         .right-data{
          display: flex;
          margin: 3px 0 0 0;
          margin-left: 50px;
          white-space: nowrap;
          padding: 4px 0 4px 0;
       }
        .main-title{
          white-space: nowrap;
          font-weight: weight("medium-l");
          margin:0;
          font-size: 1.1rem;
          margin-right: 58%;
        }
         .left-column,.right-column {
          display: flex;
          flex-direction: column;
          flex: 1;
        }
        .home-work-icons{
          width: 55px;
          height: auto;
        }
        .home-work-icons, .edit-link-icon {
              display: inline-block;
        }  
          
    }
  