header {
    position: fixed;
    width: 100%;
    z-index: 1;
}
.logo{
    width: 90px;
    height: auto;
    margin-right: 5px;
    filter: brightness(1.4)

}
.navContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    height: 60px;
    
    .nav-link {
        margin-right: 20px; 
     }
}
