header {
    position: fixed;
    width: 100%;
    z-index: 1;
}
.logo{
    width: 95px;
    height: auto;
    margin-right: 2px;
    filter: brightness(1.5)
}
.nav-style{
    height: 70px;
    background: linear-gradient(to top, transparent , #ffffff ); 
    box-shadow: 0 0 10px rgb(0, 0, 0);

}
.nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    height: 80px;
    .nav-link {
        margin-right: 20px; 
        color: #000000;
        font-size: 1.05rem;
        &:hover{
            color: #0578FF;
            ;
        }
     }
}
#name{
    font-weight: bold;
    margin-right: 30px;
    &:hover{
        color: #0578FF;
    }
}