@import '../Common/main.scss';
.eticket {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
}
.eticket-container{
    @include blue-backdrop;
    box-shadow: none;
    background-color: #b29e5e51;
    margin: 2% 0 2% 0;
    padding: 0;
}

.eticket-heading{
    font-size: 1.4rem;
    font-weight: weight(bold);  
}

.heading-container{
    margin-top: 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $successful-color;
}
.heading{
    font-size: 1.8rem;
    font-weight: weight(bold);
    letter-spacing: 0.2rem;
}
.success-icon{
    font-size: 3.0rem;
    margin-bottom: 2%;
}
.important-notice{
    color: $important-color;
    font-weight: weight(medium-s);
}
.container-header{
    background-color: #05448b75;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    margin-left: 0px;
}
.logo-inside{
    width: 60%;
    height: auto;
    margin-right: 2px;
    filter: brightness(1.5)
}
.header-text{
    color: $text-color-light;
    font-size: 2.6rem;
    margin: 0 auto 0 auto;
    font-weight: weight(medium-s);
}
.content-text{
    font-size: 1.3rem;
}
.content-text-data{
    font-size: 1.2rem;
    font-weight: weight(bold);
}
.seat-text-data{
    @extend .content-text-data;
    padding: 5px;
}
.box{
    background-color: #b29e5eb2;
    border-radius: 10px;
}
.qr{
    width: 90%;
    margin-bottom: 15%;
}
.download-btn{

    &:hover{
        color: #b29e5eb2;
        cursor: pointer;
    }
}
.main-row{
    margin:0;
}
.title-GO{
    font-weight: weight(bold);
    font-size: 3.3rem;
}
@media (max-width: 1000px) {
   
    .eticket-container {
       aspect-ratio:9/4 ;
      
     }
     .content-text,.content-text-data{
        font-size: 90%;
     }
  
    
    /* Add similar rules for other elements that need scaling */
  }
  @media (max-width: 774px) {
   
    .eticket-container {
       aspect-ratio:9/4 ;
      
     }
     .content-text,.content-text-data{
        font-size: 70%;
     }
     .seat-text-data{
        padding: 0;
     }
     .heading{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;

     }
    }
     @media (max-width: 400px) {
   
        .eticket-container {
           aspect-ratio:9/4 ;
          
         }
         .content-text,.content-text-data{
            font-size: 50%;
           margin: 0%;
           padding: 0%;
         }
         .header-text{
            font-size: 100%;
         }
         .seat-text-data{
            padding: 0;
         }
         .logo-inside{
           width: 150%;
         }
         .qr{
            width:150%;
         }
  
    
    /* Add similar rules for other elements that need scaling */
  }
 

