@import '../Common/main.scss';

.seat-image{
    width: 29%;
    height: auto;
    cursor: pointer;
    margin: 5px;
    font-weight : weight(medium-s); 
    &.active {
        color: white;
      }
    
}