@import '../Common/main.scss';

.passenger-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    height: 100vh;
    overflow-y: scroll;
    .passenger-details-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 1rem;
        margin-top: 7%;
        color:black;
    }
}

.first-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}
.main-heading{
    font-size: 1.2rem;
    font-weight: weight(bold);
    background-color: $primary-color;
    color: $text-color-shade-light;
    padding: 7px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 4px;
}
.fill-links{
    text-decoration: underline;
    &:hover{
        cursor: pointer;
        color:$primary-color;
    }
}
.divider {
    width: 100%;
    height: 1px; 
   
    background-color: #959A9A;
}
.divider-mid{
    @extend .divider;
}
.label-heading{
    font-weight: weight(medium-l);
    margin-bottom: 3px;
}
.important-fields{
    color: $important-color;
    margin-bottom:5px;
    font-weight: weight(medium-l);
}
.important-tags{
   @extend .important-fields;
}
.label-names-passenger{
    font-weight: weight(medium-l);
    font-size: 18px;
    margin-top: 1%;
    
}
.inputs{
    border: 1.6px solid $primary-color;
    border-radius: 5px;
    width: 100%;
    height: 33px;
}
.inputs-age{
    @extend .inputs;
}
.middle-selection{
    width: 50%;
}
.train-icon{
    width: 3.5%;
    height: auto;
    margin-right: 0;
}
.other-passengers{
    margin-top: 10px;
    display: flex;
    font-size: 1.1rem;
    font-weight: weight(bold);
}
.same-line{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin-top:7px;
}
.btn-passenger-details{
    height: 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 15%;
}
.btnC{
    justify-content: right;
}
.otherpassenger-btn{
    // margin-top: 2%;
    margin-left: 5%;
    margin-bottom: 5%;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    font-size: 0.8rem;
}

@media(max-width:920px){
    .passenger-details{
        overflow-y: scroll; 
        height: 200%;
        
        .passenger-details-container{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            font-size: 1rem;
            margin-top: 25%;        

            .main-heading{
                font-size:80%;
                width:80%;
                margin-left:10%;                
            }
            .fill-links{
                font-size:70%;
                width:70%;
                margin-left:15%;
            }
            .divider{
                width: 90%;
                margin-left:5%;
                margin-top: -3%;
    
            }
            .passenger-details-form{
                .title-content{
                    
                        order: 3; 
                
                }
                .fname-content{
                    order: 1;
                    
                }
                .lname-content{
                    order: 2;
                }
                
            }
            .label-heading{
                font-size: 80%;
            }
            .inputs{
                height: 30px;
                font-size: 80%;
            }
           .options{
            font-size: 80%;
           }
           .important-tags{
            font-size: 80%;
            margin-top: 1%;
           }
           .other-passengers{
            font-size: 100%;
            margin-top: -2%;
           }
           .train-icon{
            margin-top: -6%;
           }
           .name-tags{
            font-size: 80%;
            margin-top: -3%;
           }
           .divider-mid{
            margin-top: 3%;
           }
           .inputs-age{
                width: 80%;
           }
           .justify-content-end{
            justify-content: center !important;
           }
           .btnC{
            justify-content: center;
           }

        }

    }
}